@import '../../../src/styles/settings.scss';

.nav {
  background-color: darken($color-dark, 3%);

  a {
    font-size: 20px;
    color: $color-light;
    font-family: $font-text;
    text-decoration: none;
  }

  .linkActive {
    color: $color-warning;
  }
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.icon {
  display: flex;
  align-items: center;
}

.menu {
  ul {
    display: flex;
    list-style: none;
    gap: 30px;
    margin: 0;
    padding: 0;
  }
}
